version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Pb3e5/c1VsJ
      POSTGRES_DB: ecommerce
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    command: redis-server --requirepass 4ucLhmZ1Zuqgf08vcOIBLY
    networks:
      - backend

  # app:
  #   image: ecommerce-backend
  #   container_name: ecommerce-backend
  #   depends_on:
  #     - postgres
  #     - redis
  #   environment:
  #     DATABASE_URL: postgresql://postgres:STRONG_DB_PASSWORD@postgres:5432/ecommerce
  #     REDIS_URL: redis://:STRONG_REDIS_PASSWORD@redis:6379
  #   ports:
  #     - "4000:4000"
  #   networks:
  #     - backend
  #   user: "1000:1000"

networks:
  backend:
    driver: bridge
    internal: true

volumes:
  postgres_data:
